<%- include('layout', { title: 'BISWA BANGLA GATE NEW TOWN', content: `
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/location.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>

    <main>
        <h1>BISWA BANGLA GATE NEW TOWN</h1>
        <h3><a href="https://www.biswabanglagatekolkata.in/">Official Website</a></h3>
        <h3><a href="https://www.google.com/maps?rlz=1C1RXQR_enIN966IN966&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTISCAEQLhgNGK8BGMcBGIAEGI4FMgoIAhAAGAgYDRgeMgoIAxAAGAgYDRgeMg0IBBAAGIYDGIAEGIoFMg0IBRAAGIYDGIAEGIoFMgoIBhAAGIAEGKIE0gEINzIwM2owajSoAgCwAgA&um=1&ie=UTF-8&fb=1&gl=in&sa=X&geocode=KdPU4CNwdQI6MSkoSHVCbSNQ&daddr=HFHC%2BFP3,+Biswa+Bangla+Sarani,+Major+Arterial+Road(South-East),+Action+Area+I,+Narkel+Bagan,+Newtown,+West+Bengal+700156">Direction Link</a></h3>
        <p>Biswa Bangla Gate, popularly known as Kolkata Gate, is the new icon of a rising Bengal, the same way London Eye is for the UK and Eiffel Tower is for Paris.
            The destination also has amazing restaurant to have food with a view in the Heart of New Town.

        </p>

        <!-- Photo gallery with rotating effect -->
        <div class="photo-gallery">
            <div class="photo-container">
                <img src="/images/nt1.jpg"alt="ECO PARK Photo 1">
                <img src="/images/nt2.jpg" alt="ECO PARK Photo 2">
                <img src="/images/nt3.jpg" alt="ECO PARK Photo 3">
                <img src="/images/nt4.jpg" alt="ECO PARK Photo 4">
            </div>
        </div>

        <section class="details">
            <h2>Details</h2>
            <ul>
                <li><strong>Opening Hours:</strong> 12–4 pm, 7–10 pm except Monday:Closed</li>
                <li><strong>Fine Dine Restaurant:</strong> Lunch & Brunch 12 Noon to 4 PM, Dinner - 7 pm - 10 pmPre-book advised call : +91 84201 22200 / +91 83358 17777 </li>
                <li><strong>Entry Ticket:</strong> Rs. 100/- for each visitor</li>
                <li><strong>Location:</strong>HFHC+FP3, Biswa Bangla Sarani, Major Arterial Road(South-East), Action Area I, Narkel Bagan, Newtown, West Bengal 700156</li>
            </ul>
        </section>
    </main>

    <script src="/js/scripts.js"></script> <!-- JavaScript for rotating effect -->
</body>
</html>
` }) %>
